# Assignment 1: Dino Fun World

### Assignment Description

You, in your role as a data explorer and visualizer, have been asked by the administrators of a small amusement park in your hometown to answer a few questions about their park operations. The dataset that they provided for you to perform the requested analysis includes the movement and communication data captured from the park attendees' apps during one weekend (Friday, Saturday, and Sunday).

The administrators would like you to answer four relatively simple questions about the park activities on the day in question. These questions all deal with park operations and can be answered using the data provided.
* **Question 1:** What is the most popular attraction to visit in the park?


* **Question 2:** What ride (note that not all attractions are rides) has the longest average visit time?


* **Question 3:** Which Fast Food offering has the fewest visitors?


* **Question 4:** Compute the Skyline of number of visits and visit time for the park's ride, and report the rides that appear in the Skyline. (Note: Your answer should be three points, which can be given in any order.)


### Directions

The database provided by the park administration is formatted to be readable by any SQL database library. The course staff recommends the sqlite3 library. The database contains three tables, named 'checkin', 'attractions', and 'sequences'. The database file is named 'dinofunworld.db' .

The information contained in each of these tables is listed below:

`checkin`:
    - The check-in data for all visitors for the day in the park. The data includes two types of check-ins: inferred and actual checkins.
    - Fields: visitorID, timestamp, attraction, duration, type

`attraction`:
    - The attractions in the park by their corresponding AttractionID, Name, Region, Category, and type. Regions are from the VAST Challenge map such as Coaster Alley, Tundra Land, etc. Categories include Thrill rides, Kiddie Rides, etc. Type is broken into Outdoor Coaster, Other Ride, Carousel, etc.
    - Fields: AttractionID, Name, Region, Category, type
    
`sequences`:
    - The check-in sequences of visitors. These sequences list the position of each visitor to the park every five minutes. If the visitor has not entered the part yet, the sequence has a value of 0 for that time interval. If the visitor is in the park, the sequence lists the attraction they have most recently checked in to until they check in to a new one or leave the park.
    - Fields: visitorID, sequence
    
Using the provided data, answer the four questions that the administrators have asked.

### Submission Directions for Assignment Deliverables

This assignment will be auto-graded. We recommend that you submit this assignment. In order for your answers to be correctly registered in the system, you must place the code for your answers in the cell indicated for each question. In addition, you should submit the assignment with the output of the code in the cell's display area. The display area should contain only your answer to the question with no extraneous information, or else the answer may not be picked up correctly. 

Each cell that is going to be graded has a set of comment lines at the beginning of the cell. These lines are extremely important and must not be modified or removed. 

Please execute each cell in Jupyter Notebook before submitting.

In [1]:
import sqlite3

db = 'dinofunworld.db'
conn = sqlite3.connect(db)
cursor = conn.cursor()

# cursor.execute(...)
# results = cursor.fetchall()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
results = cursor.fetchall()
print(results)
print()
# checkin attraction sequences
cursor.execute("SELECT * FROM checkin LIMIT 1;")
results = cursor.fetchall()
print("visitorID, timestamp, attraction, duration, type")
print(results)
cursor.execute("SELECT COUNT(*) FROM checkin;")
results = cursor.fetchall()
print(results)
print()
cursor.execute("SELECT * FROM attraction LIMIT 1;")
results = cursor.fetchall()
print("attractionID, name, region, category, type")
print(results)
print()
cursor.execute("SELECT * FROM sequences LIMIT 1;")
results = cursor.fetchall()
print("visitorID, sequence")
print(results)
print()

[('checkin',), ('attraction',), ('sequences',)]

visitorID, timestamp, attraction, duration, type
[(0, 436, '2014-06-08 09:48:51', 83, '0:00:59', 'actual')]
[(506242,)]

attractionID, name, region, category, type
[(0, 1, 'Wrightiraptor Mountain', 'Coaster Alley', 'Thrill Rides\r', 'Outdoor Coaster')]

visitorID, sequence
[(0, 436, '0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-83-0-42-42-0-6-6-6-5-5-5-5-5-5-5-5-5-5-5-5-5-5-5-49-49-0-36-36-36-36-36-36-36-36-36-36-36-2-2-2-0-34-34-34-34-34-34-34-0-45-45-45-3-3-3-3-3-3-3-3-0-0-40-40-40-40-40-40-40-40-40-5-5-5-5-5-5-5-5-5-5-5-5-5-5-2-2-2-0-16-16-16-44-44-44-44-44-64-64-64-64-64-64-64-64-64-0-33-33-33-33-33-34-34-34-34-34-34-34-34-34-34-6-6-0-53-53-53-53-53-53-53-53-53-33-33-33-33-33-33-33-33-0-0-14-14-15-15-0-0-0-0-0-61-61-61-61-61-61-61-0-0-83-0-0-0-0-0-0-0-0')]

### Question 1: 
What is the most popular attraction to visit in the park?

**Note:** Your output should be the name of the attraction.

In [2]:
# your code here for Q1

query = '''
SELECT attraction, COUNT(*) AS visit_count
FROM checkin
WHERE type = 'actual'
GROUP BY attraction
ORDER BY visit_count DESC
LIMIT 5;
'''
cursor.execute(query)
results = cursor.fetchall()
# print(results)


query = '''
SELECT name FROM attraction WHERE attractionID = "30"
'''
cursor.execute(query)
results = cursor.fetchall()
print(results[0][0])

Ichthyoroberts Rapids

### Question 2: 

What ride (note that not all attractions are rides) has the  longest average visit time?

**Note:** Your output should be the name of the ride.

In [3]:
# your code here for Q2

query = '''
SELECT category, COUNT(*) AS count
FROM attraction
GROUP BY category
ORDER BY count DESC;
'''
cursor.execute(query)
results = cursor.fetchall()
# print(results)


query = '''
SELECT attractionID, category
FROM attraction
WHERE category LIKE '%Ride%';
'''
cursor.execute(query)
results = cursor.fetchall()
# print(results)


query = '''
SELECT c.attraction, a.name, a.category, AVG(c.duration) AS avg
FROM checkin c
JOIN attraction a ON c.attraction = a.attractionID
WHERE c.type = 'actual'
AND a.category LIKE '%Ride%'
AND c.duration NOT LIKE '%[a-zA-Z]%'
GROUP BY c.attraction, a.category
ORDER BY avg DESC
LIMIT 3;
'''
cursor.execute(query)
results = cursor.fetchall()
# print(results)
print(results[0][1])

Flight of the Swingodon

### Question 3:

Which Fast Food offering in the park has the fewest visitors?

**Note:** Your output should be the name of the fast food offering.

In [4]:
# your code here for Q3

query = '''
SELECT type, COUNT(*) AS count
FROM attraction
GROUP BY type
ORDER BY count DESC;
'''
cursor.execute(query)
results = cursor.fetchall()
# print(results)


query = '''
SELECT c.attraction, a.name, a.type, COUNT(c.attraction) AS visit_count
FROM checkin c
JOIN attraction a ON c.attraction = a.attractionID
WHERE c.type = 'actual'
AND a.type = 'Fast Food'
GROUP BY c.attraction, a.name, a.type
ORDER BY visit_count ASC;
'''
cursor.execute(query)
results = cursor.fetchall()
# print(results)
print("Data of the Fast Food type is all inferred; there's no actual data for Fast Food type.")


query = '''
SELECT c.attraction, a.name, a.type, COUNT(c.attraction) AS visit_count
FROM checkin c
JOIN attraction a ON c.attraction = a.attractionID
WHERE a.type = 'Fast Food'
GROUP BY c.attraction, a.name, a.type
ORDER BY visit_count ASC;
'''
cursor.execute(query)
results = cursor.fetchall()
print("If we go by inferred data...")
# print(results)
print(results[0][1])

Data of the Fast Food type is all inferred; there's no actual data for Fast Food type.
If we go by inferred data...
Theresaur Food Stop

### Question 4:

Compute the Skyline of number of visits and visit time for the park's ride and report the rides that appear in the Skyline. 

**Note:** Remember that in this case, higher visits is better and lower visit times are better. Your output should be formatted as a list of names of the rides in the Skyline. Your output should be three points, which can be given in any order(example output : ['Ride 1','Ride 2','Ride 3'] )

In [5]:
# your code here for Q4

query = '''
SELECT
    c.attraction, a.name, a.category,
    COUNT(c.visitorID) AS visit_count,
    AVG(c.duration) AS avg_duration
FROM checkin c
JOIN Attraction a ON c.attraction = a.attractionID
WHERE c.type = 'actual'
AND a.category LIKE '%Ride%'
AND c.duration NOT LIKE '%[a-zA-Z]%'
GROUP BY c.attraction, a.name, a.category
ORDER BY visit_count DESC;
'''
cursor.execute(query)
query_results = cursor.fetchall()


skyline_rides = []
for i, row in enumerate(query_results):
    dominated = False
    for j, other_row in enumerate(query_results):
        if (other_row[3] >= row[3] and  # other_row visit_count >= row visit_count
            other_row[4] <= row[4] and  # other_row avg_duration <= row avg_duration
            (other_row[3] > row[3] or other_row[4] < row[4])):  # at least one dimension is better
            dominated = True
            break
    if not dominated:
        skyline_rides.append(row[1]) 


print(skyline_rides)

['Ichthyoroberts Rapids', 'Keimosaurus Big Spin', 'Galactosaurus Rage', 'Dykesadactyl Thrill', 'Squidosaur']